* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: "Inter", sans-serif;
    background-image: url(./image/background.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}



header {
    display: flex;
    align-items: center;
    background-color: #16610E;
    padding: 20px;
    box-shadow: 0px 1px 5px #000;
    gap: 20px;
}

button {
    cursor: pointer;
    display: block;
    background-color: #F97A00;
    padding: 10px 20px;
    border: 2px solid #FFF4A4;
    border-radius: 4.6px;
    -webkit-border-radius: 4.6px;
    -moz-border-radius: 4.6px;
    -ms-border-radius: 4.6px;
    -o-border-radius: 4.6px;
}

p {
    text-align: center;
    margin: 20px 0;
}

#draw,
#start-over {
    margin: 20px auto;
}


#start-over {
    background-color: #613914;
    display: none;
}

.card {
    width: 180px;
    height: 250px;
    border: 2px solid #000;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

img {
    width: 100%;
    height: 100%;
}

.game-name {
    padding: 30px 0 0 0;
    text-align: center;
}

.card-box {
    margin: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}

.game-over {
    cursor: not-allowed;
}
